<mat-toolbar color="primary">
  <span>
    <a routerLink="/">Kwetu Shop</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/create" routerLinkActive="mat-accent">Sell New Item</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/signup" routerLinkActive="mat-accent">Signup</a>
    </li>
    <button mat-button *ngIf="userIsAuthenticated" (click)="onLogout()">Log Out</button>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/profile" routerLinkActive="mat-accent">My Profile</a>
    </li>
  </ul>
</mat-toolbar>
