<div class="listings">
  <div fxLayout="row wrap"  fxLayoutGap="16px grid" *ngIf="cartItems.length > 0">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let item of cartItems">
      <mat-card class="mat-elevation-z4" >
        <mat-card-header>
          <mat-card-title>{{ item.title}}</mat-card-title>
          <mat-card-subtitle>{{ item.category }}</mat-card-subtitle>
        </mat-card-header>
        <div class="post-image">
          <img [src]="item.imagePath" [alt]="item.title">
        </div>
        <mat-card-content>
          <p>
            {{ item.title }}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  </div>
